ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right:5%;
  text-decoration: none;
  font-size: 20px;
}
li {
  display: inline;
  float: left;
  padding:12px;
  text-align: center;
  margin:10px;
  color: rgb(225, 233, 233);
}
.nav{
display: flex;
justify-content: space-around;
background: rgba(8, 150, 55, 0.788);
min-height: 10vh;
min-width: 100%;
align-items: center;
}
h2{
position: absolute;
left:5%;
color: rgba(49, 15, 236, 0.774);
}